<h2>Welcome to Color Treats</h2>
<br>
Color Treats is Portland’s premiere Japanese nail care & art studio, located near the corner of NW 23rd & Burnside, specializing in gel art on natural nails. You’ll love Fumi’s quality nail care, exquisite artwork, and attention to detail.
</br>
<span style="color: rgb(232, 93, 87);">TEMPORARILY CLOSED DUE TO CORONAVIRUS</span>
<br>
<font style="font-size: 1.125rem; background-color: initial; font-family: &quot;Helvetica Neue&quot;; color: rgb(232, 93, 87);">Still scheduling appointments <a href="https://squareup.com/appointments/book/be2e0956-4f82-4789-b855-1798c6c07c05/BREGDYPR2K0X9/services" style="text-decoration-line: underline;">here</a>, for when the doors open again</font>
<br>
<span style="background-color: initial; color: rgb(232, 93, 87); font-family: &quot;Helvetica Neue&quot;; font-size: 1.5rem;">NOW SELLING VIRTUAL GIFT CARDS</span>
<br>